/* .logo {
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  color: #ce0505;
  width: 42px;
  height: 42px;
  background: white;
  border-radius: 50%;
  margin-left: 10px;
  text-align: center;
  line-height: normal;
} */
